#header{
	height:100%;
	width:100%;
}
	#searchBar{
		float:right;
		position:relative;
		width:250px;
		height:25px;
		top:20px;
		right:10px;
		z-index:1;
		border-radius:6px;
		padding-left:10px;
		border:none;
	}
	
	#headerWithoutNavigate{
		min-height:148px;
		box-shadow:inset 0px 4px 8px 5px rgba(0, 0, 0, 0.2); /* Horizontal offset , vertical offset, blur, internal spacing */
	}
		#stanfordTitle{
			margin-left:30px;
			font-size:60pt;
			margin-top:-10px;
			border:0px;
		}
		#stanfordTitle:hover{
			cursor:pointer;
		}
		
	#navigateBar{
		min-height:50px;
		background-color:#d9d5cb;
		overflow:auto;
	}
		.menuButton{
			float:right;
			font-size:11pt;
			margin-right:30px;
			margin-top:5px;
			min-width:100px;
			height:40px;
			font-family:"Crimson Text", sans-serif;
			background-color:#d9d5cb;
			border-right:1px solid #c4bfa9;
			border-left:1px solid #c4bfa9;
			border-top:none;
			border-bottom:none;
		}
		.menuButton:hover{
			background: -webkit-linear-gradient(#d9d5cb, #C0BBAD); /* For Safari */
			background: -o-linear-gradient(#d9d5cb, #C0BBAD); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(#d9d5cb, #C0BBAD); /* For Firefox 3.6 to 15 */
			background: linear-gradient(#d9d5cb, #C0BBAD); /* Standard syntax */
			cursor:pointer;
		}