#leftGeneral{
	float:left;
	margin-top:5px;
	border:1px solid black;
	width:280px;
	border:1px solid #B2B2B2;
	border-radius:6px;
	padding:10px;
}
	#name{
		font-size:25pt;
		text-align:center;
	}
	#degree{
		font-size:12pt;
		text-align:center;
		margin-top:10px;
	}
	#image{
		height:240px;
		display:block;
		margin:auto;
	}
	
#rightArea{
	margin-left:310px;
	margin-top:5px;
	border:1px solid black;
	border:1px solid #B2B2B2;
	border-radius:6px;
	padding:10px;
}