.redText{
	color:#820000;
	font-family:"Crimson Text", sans-serif;
}
.whiteText{
	color:#fbfbf9;
	font-family:"Crimson Text", sans-serif;

}
.backgroundRedColor{
	background-color:#8C1515;
}
.backgroundWhiteColor{
	background-color:#f2f1eb;
}
.backgroundDarkerWhiteColor{
	background-color:#e9e6df;
}
#body{
	background-color:#e9e6df;
	overflow:auto;
	min-height:500px;
}